img {
    margin: 50px;
    user-select: none;
    cursor: pointer;
}
button {
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: large;
}
#save {
    padding: 0px;
    font-size: small;
}
@keyframes a {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.2;
    }
    50% {
        scale: 1.05;
    }
    75% {
        scale: 1.15
    }
    100% {
        scale: 1.1;
    }
}
@keyframes b {
    0% {
        scale: 1.1;
    }
    25% {
        scale: 0.9;
    }
    50% {
        scale: 1.05
    }
    75% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}
img:hover {
    animation: a 0.1s linear normal forwards;
}
img:not(:hover) {
    animation: b 0.1s linear normal forwards;
}
button:hover {
    animation: a 0.1s linear normal forwards;
}
button:not(:hover) {
    animation: b 0.1s linear normal forwards;
}
